/* Timesheets CSS start */
.dashboard-row-main .right-content-col-with-banner {
    padding: 0;
    overflow: hidden;
}
.right-content-col-with-banner .dashboard-top-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 40px 30px 40px;
}
.right-content-col-with-banner .dashboard-top-wrapper .h2,
.right-content-col-with-banner .dashboard-top-wrapper .h4 {
    color: #fff;
}
.right-content-col-with-banner .dashboard-top-wrapper .h4 {
    margin-bottom: 0;
}
.right-content-col-with-banner .top-dropdown-col .btn-square {
    background-color: #7D888C;
    border-color: #7D888C;
    color: #fff;
}
.right-content-col-with-banner .top-dropdown-col .btn-square:hover {
    border-color: var(--primaryColor);
}
.timesheets-main-section {
    padding: 20px 40px 30px;
}
.timesheets-main-section .search-input-wrap {
    flex: 0 0 50%;
    max-width: 368px;
    top: auto;
    max-height: 44px;
}
.timesheets-main-section .table-wrapper table th {
    border-bottom: none;
    background-color: #F2F5FC;
}
.timesheets-main-section .table-wrapper table thead th:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 29px;
}
.timesheets-main-section .table-wrapper table thead th:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.table-wrapper table tr td.employee-name-td {
    min-width: 180px;
}
.table-wrapper table tr td.clock-in-td,
.table-wrapper table tr td.clock-out-td {
    min-width: 150px;
}
.table-wrapper table tr td.note-td,
.table-wrapper table tr td.reviews-td {
    min-width: 220px;
}
.btn.btn-outline-primary.btn-without-icon {
    padding: 5px 15px;
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    font-size: 16px;
}
.btn.btn-outline-primary.btn-without-icon:hover,
.btn.btn-outline-primary.btn-without-icon:focus {
    color: #fff;
    background-color: var(--primaryColor);
}
.dropdown-with-checkbox .dropdown-item {
    display: flex;
    align-items: center;
}
.dropdown-with-checkbox .dropdown-item input {
    margin-right: 5px;
}
span.status-tag.Pending {
    background-color: #FFF0E0;
    color: #ff9429;
}
span.status-tag.Approved {
    color: #8ea80f;
    background-color: #e7f6e7;
}
.add-user-pop-wrap .small-btn {
    padding: 6px 15px;
    border-radius: 12px;
    min-width: 136px;
}
.add-user-pop-wrap .outline-success {
    color: #0ea80f;
    border-color: #0ea80f;
}
.add-user-pop-wrap .outline-success:hover,
.add-user-pop-wrap .outline-success:focus {
    background-color: #0ea80f;
    box-shadow: none;
    color: #fff;
    outline: none;
}
.note-popup .modal-dialog {
    min-width: 440px;
}
textarea.form-control {
    padding: 16px 20px;
    height: 168px;
    border: 1px solid var(--primaryBorderColor);
    color: var(--textColor);
    border-radius: 12px;
    font-size: 16px;
}
.note-popup .form-row {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 30px;
}
.reviews-disable .btn.small-btn {
    color: #989BA5;
    border-color: #989BA5;
    pointer-events: none;
}
.react-rater-star {
    background-image: url(../images/star.png);
    background-position: center;
    font-size: 0;
    width: 38px;
    height: 38px;
    padding: 0 2px;
    background-size: 34px auto;
    background-repeat: no-repeat;
}
.rate-popup .react-rater-star, 
.react-rater-star.will-be-active {
    background-image: url(../images/star-yellow.png);
}
.react-rater-star.is-active {
    background-image: url(../images/star-fill.png);
}
.react-rater-star.will-be-active,
.react-rater-star.is-active {
    color: #f5ca32;
}
.react-rater {
    display: flex;
    margin-top: 10px;
}
.reviews-td .react-rater {
    margin-top: 0;
    margin-bottom: 10px;
}
.reviews-td .react-rater-star {
    width: 22px;
    height: 22px;
    background-size: 20px auto;
}
/* Timesheets CSS end */

/* Feedbacks & Ratings CSS start */
.clinician-info {
    display: flex;
    align-items: center;
}
.clinician-info img {
    max-width: 48px;
    margin-right: 15px;
}
.clinician-info h6 {
    margin: 0;
}
.ratings-td .react-rater {
    margin: 0;
}
.table-wrapper tr td.clinician-td {
    max-width: 180px;
}
.table-wrapper table tr td.ratings-td {
    max-width: 145px;
}
.react-rater .react-rater-star {
    width: 35px;
    height: 35px;
    background-size: 33px auto;
}
/* Feedbacks & Ratings CSS end */

/* Statistics page start */
.statistics-section-main {
    margin-top: 30px;
}
.range-calnedar-with-graph .rmdp-container .rmdp-wrapper {
    width: auto;
}
.range-calnedar-with-graph .rmdp-input {
    border: none;
    border-radius: 16px;
    height: 48px;
    padding: 15px 90px 15px 15px;
    background-image: url('../images/calendar-icon.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.range-calnedar-with-graph .rmdp-range {
    background-color: rgba(152,155,165,0.2);
    box-shadow: none;
}
.range-calnedar-with-graph .rmdp-range.start,
.range-calnedar-with-graph .rmdp-range.end {
    background-color: #0ea80f;
    color: #fff;
    border-radius: 50%;
}
.range-calnedar-with-graph .rmdp-wrapper .rmdp-day.rmdp-range.start span,
.range-calnedar-with-graph .rmdp-wrapper .rmdp-day.rmdp-range.end span {
    color: #fff;
}
.range-calnedar-with-graph .rmdp-wrapper .rmdp-range-picker-footer .rmdp-week-day,
.range-calnedar-with-graph .rmdp-range-picker-footer .rmdp-header-values {
    display: none;
}
.range-calnedar-with-graph .rmdp-range-picker-footer > div {
    justify-content: flex-end;
}
.dxc-legend .dxc-item > g {
    display: flex;
    align-items: center;
}
g.dx-export-menu {
    display: none;
}
.graph-box {
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;
}
.btn.btn-link.link-btn {
    border: none;
    padding: 0;
    font-size: 14px;
    text-decoration: none;
}
.graph-title {
    margin-bottom: 50px;
}
body .DashCard-totalRequestChart {
    padding: 0;
    background-color: transparent;
    margin: auto;
    align-items: center;
}
body .bar-chart > div {
    background-color: transparent;
}
/* Statistics page end */

/* Nurse tier request rate page start */
.nurse-tier-row .range-calnedar-with-graph {
    margin: 30px 0 40px;
}
.request-rate-wrapper .edit-user-wrapper .user-header {
    margin-top: -35px;
}
body .DashCard-totalRequest {
    background-color: transparent;
    padding: 0;
}
/* Nurse tier request rate page end */


/* Responsive start  */

@media screen and (max-width: 991px) {
    .timesheets-main-section .search-input-wrap {
        max-width: 250px;
    }
    .react-rater .react-rater-star {
        width: 25px;
        height: 25px;
        background-size: 22px auto;
    }
    .request-rate-wrapper .edit-user-wrapper .user-header {
        width: 100%;
        margin-top: 0;
        justify-content: center;
    }
    .app-main .main-section.chart-main-section {
        padding: 0;
    }
    .chart-main-section .right-content-col {
        border-radius: 0;
    }
    .statistics-section-main {
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    /* Feedbacks & Ratings CSS start */
    .timesheets-main-section .search-input-wrap {
        max-width: 100%;
    }
    /* .table-filter-timesheets-row {
        margin-top: 15px;
    } */
    /* .table-filter-row .custom-dropdown {
        margin-left: 15px;
    } */
    .right-content-col-with-banner .dashboard-top-wrapper {
        background-image: none !important;
        padding: 0;
    }
    .right-content-col-with-banner .dashboard-top-wrapper .h2 {
        color: #272B36;
    }
    /* .app-main .blue-bg-section,
    .mobile-header {
        background-color: #F2F5FC;
    } */
    .right-content-col-with-banner .dashboard-top-wrapper .h2 {
        color: #272B36;
        margin: 0;
    }
    .right-content-col-with-banner .dashboard-top-wrapper .h4 {
        display: none;
    }
    .timesheets-main-section {
        padding: 20px 0px 30px;
    }
    .right-content-col-with-banner .right-col-wrap.top-dropdown-col {
        margin: 0;
    }
    .table-filter-timesheets-row .custom-dropdown .dropdown-toggle {
        background-color: transparent;
        border: 1px solid #2753B8;
        color: #2753B8;
    }
    .flex-table.pagination-table {
        background-color: transparent;
        border-radius: 0;
    }
    .flex-table .table-wrapper {
        padding: 0;
        border-radius: 0;
    }
    .flex-table thead {
        display: none;
    }
    .flex-table table, 
    .flex-table tbody {
        display: block;
        background-color: transparent;
    }
    .flex-table table tr {
        display: flex;
        flex-direction: column;
    }
    .flex-table .table-wrapper table tr {
        border-radius: 12px;
        padding: 30px;
        background-color: #fff;
    }
    .flex-table .table-wrapper table tr + tr {
        margin-top: 30px;
    }
    .flex-table .table-wrapper table th, 
    .flex-table .table-wrapper table td {
        padding: 0 0 10px;
        border-bottom: none;
    }
    .flex-table .table-wrapper tr td {
        max-width: 100% !important;
        width: 100% !important;
        display: flex;
        color: #545761;
        font-weight: 400;
        align-items: center;
    }
    .flex-table-image {
        min-width: 35px;
    }
    .flex-table-image img {
        min-width: 25px;
    }
    .flex-table-title {
        color: #989ba5;
        margin-right: 5px;
    }
    .flex-table .table-wrapper tr td.ratings-td {
        align-items: center;
    }
    .dashboard-row-main .right-content-col-with-banner {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
    }
    /* Feedbacks & Ratings CSS end */

    body .bar-chart > div {
        background-color: transparent;
        margin: 0 auto;
    }
}